<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineStore.WEB</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body class="h-screen overflow-hidden bg-gray-100 text-gray-800">
    <div class="flex h-screen">
        <aside id="sidebar" class="top-0 left-0 z-50 hidden h-full w-64 flex-shrink-0 bg-gray-800 text-white transition-transform duration-300 md:relative md:block md:translate-x-0">
            <div class="text-lg-center border-b border-gray-700 p-4 font-bold">
                OnlineStore
            </div>

            <nav class="space-y-2 p-4">
                <a href="#" class="block rounded p-2 hover:bg-gray-700">
                    Productos
                </a>
                <a href="#" class="block rounded p-2 hover:bg-gray-700">
                    Categorias
                </a>
                <a href="#" class="block rounded p-2 hover:bg-gray-700">
                    Usuarios
                </a>
            </nav>

        </aside>

        <div id="overlay" class="fixed inset-0 z-30 hidden bg-black/50 md:hidden" onclick="toggleSidebar()">

        </div>

        <div class="flex w-full flex-1 flex-col overflow-auto md:ml-64">
            <header class="flex items-center justify-between bg-white p-4 shadow md:hidden">
                <button onclick="toggleSidebar()" class="text-gray-700 focus:outline-none">
                    <span class="material-icons text-3xl">menu</span>
                </button>

                <span class="text-lg font-bold">Online Store</span>

                <button class="text-gray-700 focus:outline-none">
                    <span class="material-icons text-3xl">account-circle</span>
                </button>

            </header>

            <main class="flex-1 overflow-y-auto p-6">
                @RenderBody()
            </main>

        </div>

        
    </div>


    <script>
        function toggleSidebar(){
            const sidebar = document.getElementById('sidebar');
            const overlay = document.getElementById('overlay');

            sidebar.classList.toggle('hidden');
            overlay.classList.toggle('hidden');
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
